%import x

<form method="PUT" id="form_update_password" autocomplete="off" class="flex flex-col gap-2 w-full mx-4 md:w-1/2">
        <div>
                <label for="user_password">Password</label>
                <input name="user_password" id="user_password" class="w-full border" type="password" placeholder="password" value=""
                    mix-check="{{x.USER_PASSWORD_REGEX}}">
        </div>
        <div>
            <label for="user_confirm_password">Confirm password</label>
            <input name="user_confirm_password" id="user_confirm_password" class="w-full border" type="password" placeholder="password" value=""
                mix-check="{{x.USER_PASSWORD_REGEX}}">
    </div>
    <button
        mix-data="#form_update_password"
        mix-put="/update-password/{{id}}"
    >
        update password
    </button>
    <div id="message"></div>
</form>