%import x

<form id="form_create_property" autocomplete="off" class="flex flex-col gap-2 w-full mx-4 md:w-1/2">
        <div>
                <label for="item_name">Name</label>
                <input name="item_name" id="item_name" class="w-full border" type="text" placeholder="name" value="Villa lilla kulla" 
                mix-check="{{x.ITEM_NAME_REGEX}}" 

                >
        </div>

        <div>
            <label for="item_splash_images">Image</label>
            <input name="item_splash_images" id="item_splash_images" class="w-full border" multiple type="file" placeholder="splash_image" accept=".avif .png, .jpg, .jpeg, .webp" max="5" min="1">
        </div>


        <div>
            <label for="item_price_per_night">Price per night</label>
            <input name="item_price_per_night" id="item_price_per_night" class="w-full border" type="text" placeholder="Price per night" value=5555 >
        </div>
      
    <button 
        mix-data="#form_create_property"
        mix-post="/create_property"
    >
        Create Property
    </button>
    
</form>