<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app.css">
    <script src="/mixhtml.js" defer></script>
    <!-- map from mapbox.com-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />

    <title>{{ get ('title', "My site") }}</title>
</head>
<body>
    <div id="toast" class="fixed top-4 flex items-center justify-center w-full pointer-events-none z-10"></div>
    <nav class="p-4 bg-slate-700 flex justify-between gap-4 ml-auto text-white mb-8">
        <div class="bg-slate-300 p-2 rounded-md text-slate-800 font-bold">
            <a href="/">MySite BnB</a>
        </div>
        <div>
            <a href="/signup" class="{{ get('active_login', '') }} pr-5">
                Signup
            </a>
             % if get("is_logged", False):
                <a href="/logout" class="{{ get('active_login', '') }}">
                    Logout
                </a>
            % else:
                <a href="/login" class="{{ get('active_login', '') }}">
                    Login
                </a>
            % end
        </div>
           
    </nav>
    