%include("_header.html")

<main class="grid grid-cols-2 h-screen overflow-hidden">
    <!-- Map Container -->
    <div class="relative">
      <div class="absolute inset-0 bg-neutral-100">
        <div id='map' class="w-full h-full"></div>
        <script>
          mapboxgl.accessToken = "{{mapbox_token}}";
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [12.5683, 55.6761],
            zoom: 12
          });

          function addRandomMarkers(numMarkers) {
            // always 1 pin in DK
            new mapboxgl.Marker().setLngLat([12.5683, 55.6761]).addTo(map);

            for (var i = 1; i < numMarkers; i++) {
              // add random coordinates using for loop method whick iterate through the number of markers
              var lat = Math.random() * 18 - 90 + i * 18; // defined area for the pins to be placed and creating a zone
              var lon = Math.random() * 36 - 180 + i * 36; 

              console.log(`Marker ${i}:`, lat, lon); 

              // Add a pin to the map at the coordinates found in the for loop
              new mapboxgl.Marker().setLngLat([lon, lat]).addTo(map);
            }
          }
          map.on('load', function () {
            addRandomMarkers(10); 
          }); 
        </script>
      </div>
    </div>

    <!-- Items Container -->
    <div class="h-screen overflow-y-auto pb-16 px-4">
        <div id="items" class="grid grid-cols-1 lg:grid-cols-2 gap-4 pb-10">
            % for item in items:
                %include("_item")
            % end
        </div>
        %include("__btn_more", page_number=1)
    </div>
</main>

%include("_footer.html")
